<?xml version="1.0" encoding="UTF-8"?>
<config>
    <bot>
        <plugins>
            <plugin>derpbot.plugins.irc_bot.IRCPlugin</plugin>
            
            <plugin>derpbot.plugins.command.CommandPlugin</plugin>
            <plugin>derpbot.plugins.admin.AdminPlugin</plugin>
            <plugin>derpbot.plugins.help.HelpPlugin</plugin>
            
            <plugin>derpbot.plugins.fun.FunPlugin</plugin>
            <plugin>derpbot.plugins.github.GitHubPlugin</plugin>
            <plugin>derpbot.plugins.imdb.IMDBPlugin</plugin>
            <plugin>derpbot.plugins.minecraft.MCRCPlugin</plugin>
            <plugin>derpbot.plugins.rand.RandPlugin</plugin>
            <plugin>derpbot.plugins.reddit.RedditPlugin</plugin>
            <plugin>derpbot.plugins.test.TestPlugin</plugin>
            <plugin>derpbot.plugins.wolframalpha.WolframAlphaPlugin</plugin>
            <plugin>derpbot.plugins.mapcrafter.MapcrafterPlugin</plugin>
        </plugins>
        
        <admins>
            <admin>m0r13</admin>
        </admins>
    </bot>
    
    <config plugin="IRCPlugin">
        <host>irc.freenode.net</host>
        <port>6667</port>
        <channel>#mapcrafter2</channel>
        <nick>derpbot2</nick>
    </config>
    
    <config plugin="CommandPlugin">
        <botname>derpbot2</botname>
        <commandprefixes>
            <prefix>!</prefix>
            <prefix>{name}! </prefix>
            <prefix>{name}: </prefix>
            <prefix>{name}, </prefix>
        </commandprefixes>
    </config>
    
    <!-- 
    <config plugin="GitHubPlugin">
        <client-id></client-id>
        <client-secret></client-secret>
        <feeds>
            <feed>https://api.github.com/networks/m0r13/derpbot/events</feed>
        </feeds>
    </config>
    -->
    
    <!--
    <config plugin="WolframAlphaPlugin">
        <app-id></app-id>
    </config>
    -->
</config>
